@import 'roboto.css';
@import 'bootstrap.min.css';
@import 'simple-sidebar.css';
@import 'materialdesignicons.min.css';
@import 'material-fullpalette.min.css';
@import 'material.min.css';
@import 'ripples.min.css';

body {
  background-color: #B6B6B6;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar styling */
.sidebar-brand a {
  background-color: #1976D2;
}

.sidebar-nav > .sidebar-brand {
  margin-top: 0px;
  background-color: #1976D2;
}


#sidebar-wrapper {
  background-color: #2196F3;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#sidebar-wrapper li a {
  color: white;
}

.sidebar-nav li {
  margin-top: 6px;
}

.filter-header {
  font-size: 18px;
}

.checkbox {
  margin-top: 1px;
  margin-bottom: 1px;  
}

summary {
  font-size: 18px;
  cursor: pointer;
}

.filter-reset {
  font-size: 14px;
  vertical-align: middle;
  display: inline;
}

/* Event styling */
.event-deck {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.event {
  float: none;
  margin: 10px;
  width: 250px;
  height: 383px;
  box-shadow: rgba(0, 0, 0, 0.239216) 0px 12px 15px 0px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

@media(min-width:768px) {
  .event-deck {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
  }
  .event {
    float: left;
  }
}

.event-header {
  height: 100px;
  color: white;
  text-align: center;

  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  background-color: #2196F3;
}

.event-name {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  height: 53px;
  overflow: hidden;
}

.event-date {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  margin-top: 3px;
}

.event-cost {
  font-size: 18px;
  margin-bottom: 3px;
  width: 100%;
}

img {
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}

.event-footer {
  height: 249px;
  background-color: white;
  overflow: hidden;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}

.event:hover .event-footer {
  /* On hover, set the max-height to something large. In this case there's an obvious limit. */
  height: 0;
}

.event-place {
  padding-top: 10px;
  padding-left: 10px;
  height: 30px;
  width: 90%;
  overflow: hidden;
}

.event-address1 {
  padding-left: 10px;
  height: 18px;
  width: 90%;
  overflow: hidden;
}

.event-address2 {
  padding-left: 10px;
  height: 18px;
  width: 90%;
  overflow: hidden;
}

.event-tags {
  height: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 3px;
  color: #727272;
  overflow: hidden;
}

.event-button {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  background-color: #FF5252;
  height: 36px;
  font-size: 21px;
  padding-top: 3px;
  color: white;
  text-align: center;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}

.event-descrip {
  background-color: #2196F3;
  color: white;
  padding-left: 10px;
  padding-right: 10px;

  /* Initially we don't want any height, and we want the contents to be hidden */
  height: 0;
  overflow: auto;

  /* Set our transitions up. */
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
.event:hover .event-descrip {
  /* On hover, set the height to something large. In this case there's an obvious limit. */
  height: 249px;
}

/* About page */
.about {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}