<!DOCTYPE html>
<html ng-app="plunker">
  <head>
    <title></title>
    <!-- <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css"> -->
    <link rel="stylesheet" href="bower_components/jquery-date-range-picker/dist/daterangepicker.min.css">
  </head>
  <body ng-controller="MainCtrl">
    <tags-input ng-model="location" add-on-paste="true">
      <auto-complete
        source="loadLocations($query)"
        min-length="0"
        load-on-focus="true"
        load-on-empty="true"
      ></auto-complete>
    </tags-input>

    <tags-input ng-model="category" add-on-paste="true">
      <auto-complete
        source="loadCategories($query)"
        min-length="0"
        load-on-focus="true"
        load-on-empty="true"
      ></auto-complete>
    </tags-input>

    <input id="dom-id"/>

    <select>
      <option>All Times</option>
      <option>Before Noon</option>
      <option>Noon to 6pm</option>
      <option>After 6pm</option>
    </select>
  </body>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery-date-range-picker/dist/jquery.daterangepicker.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</html>