<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#/">ChiChomps</a>
    </li>
    <li class="nav-li">
      <a href="#/about">About</a>
    </li>
    <li class="nav-li">
      Filters
    </li>
    <li>
      <ul>
        <details>
          <summary>Cost&nbsp;&nbsp;<a class="filter-reset" ng-click="resetFilterCost()">reset</a></summary>
          <li>
            <div class="checkbox">
              <label>
                <input ng-model="costOptions.donation.flag" type="checkbox">
                <span class="checkbox-material"><span class="check"></span></span> Donation
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input ng-model="costOptions.free.flag" type="checkbox">
                <span class="checkbox-material"><span class="check"></span></span> Free
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input ng-model="costOptions.one.flag" type="checkbox">
                <span class="checkbox-material"><span class="check"></span></span> $1 - $20
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input ng-model="costOptions.two.flag" type="checkbox">
                <span class="checkbox-material"><span class="check"></span></span> $20 - $40
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input ng-model="costOptions.three.flag" type="checkbox">
                <span class="checkbox-material"><span class="check"></span></span> $40 - $100
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input ng-model="costOptions.four.flag" type="checkbox">
                <span class="checkbox-material"><span class="check"></span></span> $100+
              </label>
            </div>
          </li>
        </details>
      </ul>
    </li>
    <li>
      <ul>
        <details>
          <summary>Category&nbsp;&nbsp;<a class="filter-reset" ng-click="resetFilterCategory()">reset</a></summary>
          <li ng-repeat="category in categories">
            <div class="checkbox">
              <label>
                <input  class="category-box" type="checkbox" ng-click="includeCategory(category)">
                <span class="checkbox-material"><span class="check"></span></span> {{category}}
              </label>
            </div>
          </li>
        </details>
      </ul>
    </li>
    <li>
      <ul>
        <details>
          <summary>City&nbsp;&nbsp;<a class="filter-reset" ng-click="resetFilterCity()">reset</a></summary>
          <li ng-repeat="city in cities">
            <div class="checkbox">
              <label>
                <input class="city-box" type="checkbox" ng-click="includeCity(city)">
                <span class="checkbox-material"><span class="check"></span></span> {{city}}
              </label>
            </div>
          </li>
        </details>
      </ul>
    </li>
    <li>
      <ul>
        <details>
          <summary>Source&nbsp;&nbsp;<a class="filter-reset" ng-click="resetFilterSource()">reset</a></summary></summary>
          <li ng-repeat="source in sources">
            <div class="checkbox">
              <label>
                <input class="source-box" type="checkbox" ng-click="includeSource(source)">
                <span class="checkbox-material"><span class="check"></span></span> {{source}}
              </label>
            </div>
          </li>
        </details>
      </ul>
    </li>
    <br><br><br><br><br><br><br><br><br><br><br>
  </ul>
</div>
      <div id="top-nav">
        <div class="top-button" onClick="toggleMenu()">
          <div class="top-button-bar">
          </div>
          <div class="top-button-bar">
          </div>
          <div class="top-button-bar">
          </div>
        </div>
         <div>
           ChiChomps
         </div>
      </div>